body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container{
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
}

input{
    width: 70%;
    padding: 8px;
}

button{
    padding: 8px 12px;
    cursor: pointer;
    margin: 3px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #eeeeee;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.filter-buttons{
    margin-top: 15px;
}
